.about {
    position: relative;
  width: 100%;
  min-height: 92vh;
  padding: 5vh 8% 3vh 8%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about .aboutMe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.about .img {
  width: 220px;
  border-radius: 50%;
  border: 2px solid rgb(0, 145, 255);
}

.about .me {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.about .me p {
  max-width: 545px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.cards .blue {
  background-color: rgb(0, 145, 255);
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80px;
  width: 400px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.02, 1.02);
}

.about .card, img, p, span{
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  animation-name: show;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-timeline: --revealing-image;

  animation-range: entry 25% cover 50%;
}

@keyframes show {
    from{
        opacity: 0;
        scale: 70%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}


@media (width < 500px) {
  .cards .card{
    width: 300px;
  }
}

@media (width < 1200px) {
  .about .aboutMe{
    justify-content: center;
  }
}

