.menu {
  z-index: 99;
  position: absolute;
  position: fixed;
  width: 100%;
  height: 8vh;
  padding: 0 8%;
  color: rgb(241, 235, 235);
}

.menu .mobile{
  display: none;
}

.white {
  background-color: rgb(211, 222, 235);
  color: black;
  opacity: 0.95;
  transition: all 0.2s ease-in;
}

.dark {
  background-color: rgb(0, 7, 17);
  opacity: 0.95;
  transition: all 0.2s ease-in;
}

.menu .nav {
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu .nav span {
  color: rgb(0, 145, 255);
}

.menu .nav a:hover{
  color: rgb(0, 145, 255);
  transition: all 0.2s ease-in-out;
  
}

.menu .nav .logo {
  font-size: 28px;
  font-weight: 700;
  color: rgb(0, 145, 255);
}

@media (width < 700px){
  .menu a{
    display: none;
  }

  .menu .mobile{
    display: flex;
  }

  .menu .nav .logo{
    font-size: 22px;
  }

  .nave{
    gap: 25px;
  }
}
